##################\
#Ignore API token#\
##################\
token.txt
test.py
*.txt
*.venv
*/*
!data/*
!torch_apis.txt
!scraping/*
*.twb
*.twbr
Schedule.xlsx
*.csv
scraping/ghscraperlog.txt
*.ipynb
*.pyc
*.xlsx
data/.DS_Store
.DS_Store
result_snippets/.DS_Store
